* {
    box-sizing: border-box;
  }
  
  html {
    margin: 2rem;
  }
  
  .demo-box {
    margin: 1rem 0;
    border: thin solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
  }
  
  .card > img {
    height: 200px;
    background: rgb(255, 255, 255);
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .input {
    border-radius: 0.4rem;
  }
  
  .comment {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .timestamp {
    font-size: 0.8em;
    color: #ffffff;
  }